@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<li class="btn btn-success" >
    <a class="btn btn-success" asp-area="" asp-controller="ProductTypes" asp-action="Index">Product Types</a>
</li><br />
<li class="btn btn-danger">
    <a class="btn btn-danger" asp-area="" asp-controller="SpecialTags" asp-action="index">SpecialTag</a>
</li><br />

<li class="btn btn-success">
    <a class="btn btn-success" asp-area="" asp-controller="products" asp-action="index">Product</a>
</li><br />
     <li class="btn btn-warning">
         <a class="btn btn-danger" asp-area="" asp-controller="Order" asp-action="Orders">Orders</a>
     </li><br />
<li class="btn btn-danger">
    <a class="btn btn-danger" asp-area="" asp-controller="Account" asp-action="Createrole">Create role</a>
</li><br />
<li class="btn btn-success">
    <a class="btn btn-success" asp-area="" asp-controller="Account" asp-action="Assignrole">Assign role</a>
</li>

